version: "3.5"

services:
  db:
    image: mysql
    expose:
      - "3306"
    volumes:
      - ./db:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=room
      - MYSQL_ROOT_PASSWORD=dbis2022
  web:
    build: .
    command: uwsgi --ini ../uwsgi.ini
    working_dir: /code/web
    volumes:
      - .:/code
    expose:
      - "8000"
    depends_on:
      - db
  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf:/etc/nginx/conf.d
      - ./web/static:/static
      - /etc/letsencrypt:/etc/letsencrypt
    ports: 
      - "443:443"
      - "80:80"
    depends_on:
      - web
